################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HTML5-Asteroids/FileContentIndex
/.vs
